    @import './reset';
    @import './mixin';
    body {
        width: 100vw;
        height: auto;
    }
    
    header {
        // Setting Background
        background-image: url("../images/bg-header-desktop.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        // Setting Display
        @include set-flex-display($dir: column, $algn-itm: center, $jst-ctnt: space-around);
        // Styling the children
        .__logo-holder {
            padding-top: 7em;
            padding-bottom: 3em;
        }
        .__content-holder {
            @include create-section;
            text-align: center;
            h2 {
                font-size: 2.5em;
            }
            p {
                padding-block: 1em;
                font-size: 1em;
            }
        }
        .__buttons-holder {
            @include set-flex-display($dir: row, $algn-itm: center, $jst-ctnt: center);
            padding-block: 2em;
            a {
                text-decoration: none;
                .button-1 {
                    @include create-button($bg-color: $strong-cyan, $bdr-color: hsl(171, 66%, 33%));
                }
                .button-2 {
                    @include create-button($bg-color: $light-blue, $bdr-color: hsl(233, 54%, 55%));
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    
    main {
        @include set-flex-display($dir: column, $algn-itm: center, $jst-ctnt: flex-start);
        .section-1 {
            padding-top: 6em;
            padding-bottom: 4em;
            @include create-section;
            p {
                line-height: unset;
                font-weight: 200;
            }
        }
        .section-2 {
            display: flex;
            img {
                position: relative;
                left: -100px;
            }
            .content {
                @include set-flex-display($dir: column, $algn-itm: flex-start, $jst-ctnt: space-evenly);
                padding-inline: 6em;
                padding-bottom: 0em;
                @include set-fonts($sz: auto, $wt: 400, $textCol: black);
                .c {
                    h3 {
                        color: $dark-grayish-blue;
                        font-size: 1.5em;
                        font-weight: 600;
                    }
                    p {
                        font-size: 1em;
                        font-weight: 200;
                        line-height: 1.5em;
                        color: $grayish-blue;
                    }
                }
            }
        }
        .section-3 {
            padding-top: 6em;
            padding-bottom: 4em;
            @include create-section;
            h3 {
                font-size: 2em;
                color: $dark-grayish-blue;
            }
            p {
                font-weight: 200;
            }
        }
        .section-4 {}
        .section-5 {
            @include create-section;
            p {
                line-height: unset;
                font-weight: 200;
            }
        }
        .section-6 {
            padding-top: 3em;
            @include set-flex-display($dir: row, $algn-itm: center, $jst-ctnt: space-around);
            .display-feature {
                @include create-section;
                justify-content: center;
                padding-inline: 2.5em;
                p {
                    width: 300px;
                    padding-block: 1.5em;
                    font-size: 0.65em;
                    font-weight: 200;
                }
            }
        }
        .section-7 {
            padding-block: 4em;
            @include set-flex-display($dir: row, $algn-itm: center, $jst-ctnt: flex-start);
            img {
                padding-inline: 3em;
            }
        }
        .section-8 {
            padding-block: 5em;
            @include set-flex-display($dir: column, $algn-itm: center, $jst-ctnt: center);
            .__content-holder {
                @include create-section;
                width: unset;
                h2 {
                    font-size: 2.5em;
                }
                p {
                    width: 60%;
                    color: $grayish-blue;
                    line-height: unset;
                }
            }
            .__buttons-holder {
                padding-block: 2em;
                @include set-flex-display($dir: row, $algn-itm: center, $jst-ctnt: center);
                a {
                    text-decoration: none;
                    .button-1 {
                        @include create-button($bg-color: $strong-cyan, $bdr-color: hsl(171, 66%, 33%));
                    }
                    .button-2 {
                        @include create-button($bg-color: $light-blue, $bdr-color: hsl(233, 54%, 55%));
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    
    footer {
        background-color: hsla(0, 0%, 98%, 0.767);
        @include set-flex-display($dir: row, $algn-itm: center, $jst-ctnt: space-around);
        padding-block: 2.5em;
        padding-inline: 7em;
        .logo-holder {
            padding-top: 0.8em;
            img {
                height: 4em;
                width: 4em;
            }
        }
        .link-holder {
            @include set-flex-display($dir: row, $algn-itm: flex-start, $jst-ctnt: flex-start);
            flex-wrap: wrap;
            width: 65%;
            span {
                padding-block: 0.5em;
                width: 15em;
                a {
                    text-decoration: unset;
                    @include set-fonts($sz: 1.2em, $wt: 200, $textCol: black);
                    &:hover {
                        cursor: pointer;
                        color: $strong-cyan;
                    }
                }
            }
        }
        .social-button-holder {
            padding-block: 2%;
            div {
                display: inline;
                padding-inline: 0.5em;
                a {
                    text-decoration: unset;
                    i {
                        color: $dark-grayish-blue;
                        font-size: 1.5em;
                    }
                    &:hover {
                        cursor: pointer;
                        i {
                            color: $strong-cyan;
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width:860px) {
        header {
            // Setting Background
            background-image: url("../images/bg-header-mobile.png");
            // Setting Display
            @include set-flex-display($dir: column, $algn-itm: center, $jst-ctnt: space-around);
            // Styling the children
            .__logo-holder {
                padding-top: 7em;
                padding-bottom: 3em;
            }
            .__content-holder {
                @include create-section;
                width: 90%;
                text-align: center;
                h2 {
                    font-size: 2.5em;
                }
                p {
                    width: 100%;
                    padding-block: 1em;
                    font-size: 1em;
                }
            }
            .__buttons-holder {
                @include set-flex-display($dir: column, $algn-itm: center, $jst-ctnt: center);
                padding-block: 2em;
                padding-top: 1.3em;
                a {
                    padding-block: 0.5em;
                    text-decoration: none;
                    .button-1 {
                        @include create-button($bg-color: $strong-cyan, $bdr-color: hsl(171, 66%, 33%));
                        padding-block: 1em;
                    }
                    .button-2 {
                        @include create-button($bg-color: $light-blue, $bdr-color: hsl(233, 54%, 55%));
                        padding-block: 1em;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        main {
            @include set-flex-display($dir: column, $algn-itm: center, $jst-ctnt: flex-start);
            .section-1 {
                padding-top: 6em;
                padding-bottom: 4em;
                @include create-section;
                width: 100%;
                p {
                    line-height: unset;
                    font-weight: 200;
                }
            }
            .section-2 {
                @include set-flex-display($dir: column, $algn-itm: center, $jst-ctnt: space-evenly);
                img {
                    width: 90%;
                    left: unset;
                    position: unset;
                }
                .content {
                    @include set-flex-display($dir: column, $algn-itm: center, $jst-ctnt: space-evenly);
                    padding-inline: 1em;
                    padding-block: 2em;
                    @include set-fonts($sz: auto, $wt: 400, $textCol: black);
                    text-align: center;
                    .c {
                        padding-block: 1em;
                        width: 90%;
                        h3 {
                            padding-block: 0.2em;
                            color: $dark-grayish-blue;
                            font-size: 1.5em;
                            font-weight: 600;
                        }
                        p {
                            padding-inline: 1.5em;
                            font-size: 1em;
                            font-weight: 200;
                            line-height: 1.5em;
                            color: $grayish-blue;
                        }
                    }
                }
            }
            .section-3 {
                padding-top: 6em;
                padding-bottom: 0em;
                @include create-section;
                width: 100%;
                h3 {
                    font-size: 1.5em;
                    color: $dark-grayish-blue;
                }
                p {
                    font-size: 0.8em;
                    font-weight: 200;
                }
            }
            .section-4 {
                img {
                    width: 90%;
                }
            }
            .section-5 {
                @include create-section;
                h3 {
                    font-size: 2em;
                    color: $dark-grayish-blue;
                }
                p {
                    line-height: unset;
                    font-weight: 200;
                }
            }
            .section-6 {
                padding-top: 3em;
                @include set-flex-display($dir: column, $algn-itm: center, $jst-ctnt: space-around);
                .display-feature {
                    @include create-section;
                    width: 95%;
                    h4 {
                        font-size: 2em;
                        color: $dark-grayish-blue;
                    }
                    justify-content: center;
                    // padding-inline: 2.5em;
                    p {
                        width: 100%;
                        padding-block: 1.5em;
                        // font-size: 0.65em;
                        font-weight: 200;
                    }
                }
            }
            .section-7 {
                padding-block: 4em;
                @include set-flex-display($dir: column, $algn-itm: center, $jst-ctnt: flex-start);
                img {
                    padding-inline: unset;
                    padding-block: 3em;
                }
            }
            .section-8 {
                padding-block: 5em;
                @include set-flex-display($dir: column, $algn-itm: center, $jst-ctnt: center);
                .__content-holder {
                    @include create-section;
                    width: 100%;
                    h2 {
                        font-size: 2em;
                    }
                    p {
                        width: 85%;
                        color: $grayish-blue;
                        line-height: unset;
                    }
                }
                .__buttons-holder {
                    padding-block: 2em;
                    @include set-flex-display($dir: column, $algn-itm: center, $jst-ctnt: center);
                    a {
                        padding-block: 0.5em;
                        text-decoration: none;
                        .button-1 {
                            @include create-button($bg-color: $strong-cyan, $bdr-color: hsl(171, 66%, 33%));
                        }
                        .button-2 {
                            @include create-button($bg-color: $light-blue, $bdr-color: hsl(233, 54%, 55%));
                        }
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        footer {
            background-color: hsla(0, 0%, 98%, 0.767);
            @include set-flex-display($dir: column, $algn-itm: center, $jst-ctnt: space-around);
            padding-block: 2.5em;
            // padding-inline: 7em;
            .logo-holder {
                padding-block: 1em;
                img {
                    height: 4em;
                    width: 4em;
                }
            }
            .link-holder {
                @include set-flex-display($dir: column, $algn-itm: center, $jst-ctnt: flex-start);
                flex-wrap: unset;
                width: 65%;
                span {
                    text-align: center;
                    padding-block: 1em;
                    width: 15em;
                    a {
                        text-decoration: unset;
                        @include set-fonts($sz: 1.2em, $wt: 400, $textCol: $grayish-blue);
                        &:hover {
                            cursor: pointer;
                            color: $strong-cyan;
                        }
                    }
                }
            }
            .social-button-holder {
                padding-block: 10%;
                div {
                    display: inline;
                    padding-inline: 0.5em;
                    a {
                        text-decoration: unset;
                        i {
                            color: $dark-grayish-blue;
                            font-size: 1.5em;
                        }
                        &:hover {
                            cursor: pointer;
                            i {
                                color: $strong-cyan;
                            }
                        }
                    }
                }
            }
        }
    }